//form input,
//div > a
//  border 1px solid #999

body
  color #666
  background-color #fff

input
  border 1px solid red

p
  width 400px
  border 1px solid #333

li p,
li > input
  border-color #b84cff
  &:hover
    background-color yellow

