html, body
  margin 0
  padding 0

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

a.btn
  border-radius 5px


//tesseract https://germey.gitbooks.io/python3webspider/content/assets/1-23.jpg result -l eng && cat result.txt
//  https://germey.gitbooks.io/python3webspider/content/assets/1-23.jpg


import tesserocr
from PIL import Image
image = Image.open('1-22.jpg')
print(tesserocr.image_to_text(image))